.header {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  padding: 20px;
}

.oval-container {
border-radius: 2em;
border: 2px solid #000; /* Set border color and thickness */

  padding: 10px; /* Add padding to contain the SVGs */
}



.svg {
  width: 24px;
  height: 24px;
}

